<div class='blog'>
    <!-- <app-bouton name="Fils actualité" link='actualite'></app-bouton> -->
    <div class="partieG">
      
      <!-- <img [src]='imageHead.ressource' alt=""> -->

      <ng-container *ngIf="imageHead.image64 !== '' && imageHead.image64 !== undefined; else elseTemplate">
          <img [src]="'data:image/jpg;base64,'+imageHead.image64" alt="" >
      </ng-container>
      <ng-template #elseTemplate>
          <img src="{{imageHead.ressource}}" alt="">
      </ng-template>

      <div class="position">
        <b>Dernière position :</b>
        <br>
        <span>{{user.pays}}</span>
        <span> {{user.ville}}</span>       
      </div>

      <div id="map"></div>

      <app-bouton name="Mes articles" link='articles' class="articles"></app-bouton>
    </div>
    <div class="actualite">
      <app-actualite></app-actualite>
    </div>

</div>


