<div class='contenu'>
  <div class="image">
      <!-- <img src="{{imgAccueil}}" alt=""> -->
    <ng-container *ngIf="imgAccueil.image64 !== '' && imgAccueil.image64 !== undefined; else elseTemplate">
        <img [src]="'data:image/jpg;base64,'+imgAccueil.image64" alt="" >
    </ng-container>
    <ng-template #elseTemplate>
        <img src="{{imgAccueil.ressource}}" alt="">
    </ng-template>

  </div>
  <div>
    Bienvenue sur launay-esteban.fr
  </div>
  <div class="boutons">
    <app-bouton name="Espace Professionel" link='pro' class='bigButton'></app-bouton>
    <app-bouton name='Espace Blog' link='blog' class='bigButton'></app-bouton>
  </div>
</div>


