$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$back: linear-gradient(to bottom right, #ffffff, #dadada);
.actu {
    width: 100%;
    overflow: hidden;
    box-shadow: $boxShadow;
    margin: 10px;
    padding: 10px;
    background: $back;
    & img {
        width: 100%;
    }

    @media (max-width: 900px) {
        width: auto;
    }
}