<div class="div_formulaire">
  <div class="div_formulaire_creation">
    <h2>Création de Post</h2>
    <form class="" (ngSubmit)="onSubmitActu()" #resForm="ngForm">
      <div class="input_creation_g">
        <label class="input_nom" for="title">Titre: </label>
        <input class="input_creation" type="text" id="title" [(ngModel)]="actuCreation.title" name="title" required>
      </div>
      <div class="input_creation_g">
        <label class="input_nom" for="title_eng">Title_eng: </label>
        <input class="input_creation" type="text" id="title_eng" [(ngModel)]="actuCreation.title_eng" name="title_eng">
      </div>
      <div class="input_creation_g">
        <label class="input_nom" for="description">Desc: </label>
        <textarea class="input_creation" type="text" id="description" [(ngModel)]="actuCreation.description" name="description"required></textarea>
      </div>
      <div class="input_creation_g">
        <label class="input_nom" for="description_eng">Desc_en: </label>
        <textarea class="input_creation" type="text" id="description_eng" [(ngModel)]="actuCreation.description_eng" name="description_eng"></textarea>
      </div>
      <div class="input_creation_g">
        <label class="input_nom" for="date">date: </label>
        <input class="input_creation" type="date" id="date" [(ngModel)]="actuCreation.date" name="date"required>
      </div>
      <div class="input_creation_g">
        <label class="input_nom" for="image">Image: </label>
        <input class="input_creation" type="text" id="image" [(ngModel)]="actuCreation.image" name="image">
      </div>

      <div class="input_upload" [ngClass]="{'active': upok, 'error': error}">
        <input type="file" #fileInput placeholder="Upload file..." />
        <button type="button" (click)="upload()">Upload</button>
      </div>

      <div class="submit">
        <button class="bouton_submit" type="submit" [disabled]="!resForm.form.valid">Submit</button>
        <div class="chargement" [hidden]="!chargement"></div>
      </div>
    </form>
  </div>
  <div class="envoi_ok" [hidden]="!creationOk">
    <p>Ressource créé</p>
  </div>
  <div class="envoi_fail" [hidden]="!creationProbleme">
    <p>Un probleme est survenue : {{error}}</p>
  </div>
</div>
