.div_formulaire_creation {
    margin: 0 auto;
    width: 80%;

    & .date {
        color: gray;
        font-size: 1rem;
        @media(max-width: 700px) {
            font-size: .8rem;
        }
    }
}